name: release
on:
  workflow_dispatch:
  push:
    branches:
      - main
jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.RELEASE_TOKEN }}
      - name: Release
        id: semantic
        uses: cycjimmy/semantic-release-action@v4
        with:
          extra_plugins: |
            @semantic-release/exec
            @semantic-release/git
        env:
          GH_TOKEN: ${{ secrets.RELEASE_TOKEN }}
      - name: Setup Rust
        if: steps.semantic.outputs.new_release_published == 'true'
        uses: dtolnay/rust-toolchain@stable
      - name: Publish to crates.io
        if: steps.semantic.outputs.new_release_published == 'true'
        run: cargo publish
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_RELEASE_TOKEN }}
